<p id="notice"><%= notice %></p>

<p>
  <b>Version:</b>
  <%= @margenop.version %>
</p>

<p>
  <b>Empresa:</b>
  <%= @margenop.empresa %>
</p>

<p>
  <b>Tarifa:</b>
  <%= @margenop.tarifa %>
</p>

<p>
  <b>Periodo:</b>
  <%= @margenop.periodo %>
</p>

<p>
  <b>Estado:</b>
  <%= @margenop.estado %>
</p>

<p>
  <b>Concepto:</b>
  <%= @margenop.concepto %>
</p>

<p>
  <b>Cantidad:</b>
  <%= @margenop.cantidad %>
</p>

<p>
  <b>Consumo vta:</b>
  <%= @margenop.consumo_vta %>
</p>

<p>
  <b>Consumo cpa:</b>
  <%= @margenop.consumo_cpa %>
</p>

<p>
  <b>Importe vta:</b>
  <%= @margenop.importe_vta %>
</p>

<p>
  <b>Importe cpa:</b>
  <%= @margenop.importe_cpa %>
</p>

<p>
  <b>Importe mgn:</b>
  <%= @margenop.importe_mgn %>
</p>


<%= link_to 'Edit', edit_margenop_path(@margenop) %> |
<%= link_to 'Back', margenops_path %>
